@import "src/mixins";

.Wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 17;
    background: #ebebebf5;

    .Container {
        width: 100%;
        margin-top: 1%;
        height: 98%;
        margin-bottom: 1%;
        display: grid;
        grid-template-rows: auto 1fr auto;
        align-items: center;
        justify-items: center;


        .image {
            overflow: hidden;
            position: relative;
            height: 100%;
            width: 100%;
            display: grid;

            img {
                position: relative;
                align-self: center;
                justify-self: center;
                max-height: 97%;
                max-width: 97%;
            }
        }
        
        
        .Selector {
            align-self: center;
            justify-self: center;
            z-index: 19;
            box-sizing: border-box;
            border-radius: 100%;
            width: 100px;
            height: 100px;
            border: 2px solid gray;
            top: calc(50% - 50px);
            left: calc(50% - 50px);
            position: absolute;
        }
        
        
        .buttons {
            margin-top: 5px;
            width: 80%;
            display: flex;
            border: 1px solid #9e9e9e;
            border-radius: 1000px;
            overflow: hidden;
            
            .relative {
                position: relative;
                flex: 1 1;
                background: #d6d6d6;
                
                &>.Cover:active {
                    background: #4d5480;
                }
                
                &:first-child>button {
                    border-right: 1px solid #9e9e9e;
                }
                
                button {
                    border: none;
                    width: 100%;
                    padding: 6px 0;
                    font-size: 14px;
                    color: #25327d;
                    font-family: Arial, Helvetica, sans-serif;           
                }
            }
            
        }
    }
}

.hidden {
    display: none;
    & > * {
        display: none !important;
    }
}

.Cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 18;
}