.Hidden {
    display: none;
}

@media(min-width: 425px) {
    .Container {
        .Flex {
            width: 75% !important;
        }
    }
}

.Container {
    padding: 3px 0 0;
    z-index: 13;
    position: fixed;
    display: block;
    background: #d7d6d6;
    bottom: 0;
    width: 100%;
    
    .Flex {
        text-align: center;
        width: 80%;
        height: 100%;
        margin: 0px auto;
        display: flex;
    }    
}
