@media(min-width: 425px) {
    .Container {
        .post {
            font-size: 15px;
            padding: 6px 17px;
        }

        .attach {
            width: 37px;
            height: 37px;
        }
    }
}

@media(max-width: 425px) {
    .Container {
        .post {
            font-size: 14px;
            padding: 5px 14px;
        }

        .attach {
            width: 35px;
            height: 35px;
        }
    }
}

.Container {
    background: #e0e0e0;
    width: 100%;
    padding: 2px 0;

    .Grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: right;
        align-items: center;

        .post {
            margin-right: 5px;
            color: white;
            font-weight: 700;
            border-radius: 1000px;
            background: #3e4c89;
            border: 2px solid #323d71;
            justify-self: right;

            &:active {
                background: #002775;
            }
        }

        .attach {
            margin-left: 8px;
            background: #b3b3b3;
            border-radius: 1000px;
            box-sizing: border-box;
            padding: 5px;

            input {
                width: 0px;
                height: 0px;
            }
        }
    }
}