@import "src/presets.scss";

@media(min-width: 425px) {
    .Container {
        .textarea {
            font-size: 17px !important;
            line-height: 19px !important;
            height: 19px;
            padding: 8px 10px;
        }
    }
}

@media(max-width: 425px) {
    .textarea {
        height: 17px;
        padding: 6px 9px;
    }
}

.Container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px auto 0;
    width: 92%;
    border: 2px solid rgba(145, 145, 145, 0.72);
    border-radius: 10px;

    .textarea {
        letter-spacing: 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: none;
        color: var(--primary-color-2);
        line-height: 17px;
        font-size: 15px;
        grid-column: 1 / 3;
        resize: none;
    }

}