$activeColor: #05dceb;

@media(min-width: 768px) {
    .Container {
        .Link, .Active {
            font-size: 24px;
            padding: 7px;
        }
    }
}

@media(min-width: 425px) and (max-width: 768px) {
    .Container {
        .Link, .Active {
            font-size: 22px;
            padding: 7px;
        }
    }
}

@media(max-width: 425px) {
    .Container {
        .Link, .Active {
            padding: 5px;
            font-size: 20px;
        }
    }
}

.Container {
    align-self: center;
    display: flex;
    grid-column: 2 / 3;
    z-index: 10;

    .Link, .Active {
        flex: 1 1;
        z-index: 5;
        border-left: 1px solid black;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        color: white;
        font-family: "Lacuna";
        font-weight: lighter;
        height: 100%;

        &:not(.Active):active {
            color: #1d05f5;
            background: $activeColor;
            text-decoration: underline;
        }
    }
    .Active {
        border-bottom: 4px solid $activeColor;
    }
}