@media(min-width: 425px) {
    .Container {
        p {
            font-size: 17px !important;
        }
    }
}

.Container {
    p {
        white-space: pre-wrap;
        word-break: break-all;
        font-size: 14px;
        font-family: "Gaspar";
        color: var(--primary-color-2);
        font-weight: 700;
        height: 100%;
    }
}