$offset: 50px;

.Container {
    background: white;
    height: 100%;
    z-index: 30;
    overflow-y: scroll;
    
    & > .SpinnerContainer {
        margin-top: 10px;
        display: grid;
        justify-items: center;
    }
    
    .Rows { 
        padding-bottom: $offset;
    }
}

.Spinner {
    border-width: 4px;
    width: 60px;
    height: 60px;
}