.Container {
    margin-top: 5px;
    margin-bottom: 20px;
    background: #fdbfbf;
    padding: 10px 0;
    width: 100vw;
    overflow: auto;

    & .Error {
        padding-bottom: 3px;
        padding-left: 15px;
        left: 0px;
        white-space: nowrap;
        color: var(--error-color);
        font-size: 16px;
    }
}
.main-single-error > span.single-error-contents {
    font-weight: 500;
    position: relative;
}