@media(min-width: 768px) {
    .Button, .Valid {
        font-size: 20px;
        padding: 4px 14px;
    }
}

@media(min-width: 425px) and (max-width: 768px) {

    .Button,
    .Valid {
        font-size: 18px;
        padding: 3px 12px;
    }
}

@media(max-width: 425px) {

    .Button,
    .Valid {
        font-size: 16px;
        padding: 2px 10px;
    }
}


.Container {
    padding: 6px;
    text-align: center;

    .Button,
    .Valid {
        font-family: "Gaspar bold";
        border-radius: 1000px;
        border: 2px solid black;
        background: #878787;
        color: white;
        box-shadow: 2px 2px 10px 1px gray;

        &:disabled {
            border: 2px solid red;
            box-shadow: 1px 1px 10px 1px red;
            background: #e51515;
            color: white;
        }
    }

    .Valid {
        border: 2px solid green;
        box-shadow: 2px 2px 10px 1px green;
        background: #32bd5c;
        color: var(--primary-color-2);

        &:focus {
            border-color: rgb(142, 108, 254);
            box-shadow: 2px 2px 10px 1px rgb(142, 108, 254);
        }

        &:active {
            background: rgb(100, 53, 253);
            box-shadow: 2px 2px 10px 1px rgb(100, 53, 253);
            border: 2px solid rgb(68, 11, 254);
            color: white;
        }
    }
}