@import "src/mixins.scss";
@import "src/presets.scss";

$offset: 7px;

@media(min-width: 425px) {
    .Container {
        .Input {
            input {
                font-size: 19px;
            }
        }
    }
}

@media(min-width: 425px) {
    .Input {
        input {
            font-size: 17px;
        }
    }
}

* {
    border: none;
    margin: 0px;
}

.Container {
    @include lgb($lineargradient);
    z-index: 5;
    padding: 4px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100vw;

    .Input {
        padding: 5px;
        justify-items: center;
        align-items: center;
        display: grid;
        grid-template-columns: 7fr 1fr;
        background: white;
        overflow: hidden;
        border-radius: 1000px;

        img {
            width: 29px;
            padding-right: $offset
        }

        input {
            padding-left: 10px;
            justify-self: stretch;
            padding-right: $offset;
            font-family: "Gaspar";
            color: var(--primary-color-2);
            text-align: center;
            box-sizing: border-box;
        }
    }
}