.Container {
    margin-bottom: 5px;
    justify-self: center;
    width: 97%;

    .Flex {
        display: flex;
    }

    .ControlContainer {
        text-align: center;
        flex: 1 1;
        align-self: center;


        .button {
            padding: 2px 12px;
            border-radius: 1000px;
            font-size: 12px;
            color: #000480f5;
            background: #dbdbdbf5;
            outline: none;
            border: 1px solid #c4c4c4f5;

            &:active {
                background: #000366f5;
            }
        }

    }

    .control {
        border: 1px solid #c4c4c4f5;
        width: 27px;
        height: 27px;
        font-size: 15px;
        margin: 1px;
        padding: 5px;
        color: #000480f5;
        background: #dbdbdbf5;
        outline: none;

        &:active {
            background: #000366f5;
        }
        &:disabled {
            background: #adadadf5;
        }
    }

    .label {
        color: #3c376d;
        margin-right: 7px;
        font-size: 14px;
    }
    
    .Resize {

        text-align: center;
    }
}