@media(min-width: 425px) {
    .Header {
        font-size: 26px !important;
    }
}

.Header {
    color: var(--primary-color-1);
    font-size: 22px;
    margin-top: 5px;
    font-family: "Gaspar bold";
    width: 100%;
    text-align: center;
}