@import "src/mixins.scss";
@import "../shared";


@media(min-width: 425px) {
    .MainContainer {
        .Container {
            .image {
                height: 40px;
                width: 40px;

                img {
                    padding: 6px;
                }
            }

            .Textarea {
                padding: 8px 6px;
                textarea {
                    font-size: 16px;
                    line-height: 18px;
                    height: 18px;
                }
            }
        }
    }
}

@media(max-width: 425px) {
    .Container {
        .image {
            height: 33px;
            width: 33px;

            img {
                padding: 5px;
            }
        }

        .Textarea {
            padding: 7px 5px;

            textarea {
                height: 16px;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}

.MainContainer {
    background: $backColor;
    box-sizing: border-box;
    display: grid;
    z-index: 11;
    width: 100%;
    position: fixed;
    bottom: 0;

    .Container {
        padding-top: 2px;
        padding-bottom: 2px;
        grid-template-columns: 100fr 1fr;
        display: grid;
        justify-self: center;
        column-gap: 2px;
        width: 93%;

        .image {
            position: relative;
            justify-self: left;
            border: 1px solid #b8b8b8;
            align-self: center;
            border-radius: 50%;
            background: white;

            &:active {
                background: var(--primary-color-1);
            }
        }

        img {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
        }

        .Textarea {
            box-sizing: border-box;
            align-self: center;
            justify-self: stretch;
            background: white;
            border: 2px solid gray;
            border-radius: 1000px;
            display: grid;

            textarea {
                align-self: center;
                box-sizing: border-box;
                width: 100%;
                border: none;
                outline: none;
                resize: none;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }

}