@media(min-width: 768px) {
    .Container,
    .ContainerInvalid,
    .ContainerValid {
        .label {
            font-size: 18px;
        }
        .input {
            font-size: 16px;
        }
    } 
}

@media(min-width: 425px) and (max-width: 768px){

    .Container,
    .ContainerInvalid,
    .ContainerValid {
        .label {
            font-size: 16px;
        }

        .input {
            font-size: 14px;
        }
    }
}

@media(max-width: 425px) {

    .Container,
    .ContainerInvalid,
    .ContainerValid {
        .label {
            font-size: 14px;
        }

        .input {
            font-size: 12px;
        }
    }
}

.Overall {
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;

    .Container,
    .ContainerInvalid,
    .ContainerValid {
        padding: 5px;
        width: 90%;
        margin: 5px auto 0px;
        display: grid;
        grid-template-columns: repeat(30, 1fr);
        align-items: center;

        .label {
            font-family: "Gaspar";
            font-weight: 600;
            color: var(--primary-color-2);
            grid-column: 1 / 11;
            text-align: left;
        }

        .input {
            font-family: "Lacuna ";
            border-radius: 12px;
            border: 2px solid var(--primary-color-1);
            padding: 3px 6px;
            grid-column: 11 / 30;
        }
    }

    .ContainerValid {
        background: #cdfecd;

        .input {
            border: 2px solid green;
        }
    }

    .ContainerInvalid {
        .input {
            border: 2px solid red;
        }

        .label {
            font-weight: 700;
        }

        &:last-child {
            border: none;
        }
    }
}