$space: 4fr;


@keyframes slide {
    from {
        transform: translateX(100%);
    }
}

@media(min-width: 425px) {
    .Expanded,
    .Hidden {
        .ButtonsContainer {
            button {
                font-size: 16px !important;
                padding: 4px 10px !important;
            }
        }
        
        textarea {
            font-size: 15px !important;
            line-height: 17px !important;
            padding: 7px 10px;
            height: 17px;
        }
        
        h1 {
            font-size: 21px !important;
        }
        
        h2 {
            font-size: 16px !important;
        }
    }
}

@media(max-width: 425px) {
    .Expanded, .Hidden {
        textarea {
            height: 15px;
            padding: 5px 8px;
        }
    }
}

.Expanded,
.Hidden {
    animation: slide 300ms both;
    overflow: hidden;
    display: none;
    width: 90%;
    margin-bottom: 20px;
    display: grid;
    background: #b3e7ff5e;
    justify-items: center;

    h1,
    h2 {
        font-size: 17px;
        text-align: center;
        padding: 5px;
        color: var(--primary-color-2);
    }

    h2 {
        font-size: 13px;
        color: var(--primary-color-1);
    }

    textarea {
        display: block;
        justify-self: center;
        margin: 0px;
        width: 85%;
        border-radius: 10px;
        letter-spacing: 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid #a3a3a3;
        color: var(--primary-color-2);
        font-size: 13px;
        line-height: 15px;
        resize: none;
    }

    .ButtonsContainer {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr $space 1fr;
        padding: 5px 0;
        margin-top: 5px;

        button {
            font-size: 14px;
            color: white;
            font-weight: 700;
            background: #7006bc;
            padding: 5px 8px;
            border-radius: 1000px;
            border: 1px solid #4a017e;

            &:active {
                background: #a000eb;
            }
        }

        .Commit {
            grid-column: 3 / 4;
        }
    }
}

.Hidden {
    display: none;
}