@import "src/mixins";

.Container {
    h1 {
        margin-top: 10px;
        color: #38486b;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 28px;
    }

    .Header {
        font-size: 17px;
        color: #485d89;
    }

    .Post {
        margin-top: 10px;
        align-self: center;
    }
}

.SpinnerContainer {
    width: 100%;
    text-align: center;
    display: grid;
    
    .Spinner {
        margin-top: 5px;
        justify-self: center;
        width: 65px;
        height: 65px;
    }
}