@import "src/mixins";

@keyframes stuff {
    from {
        @include transform(scale(0.9, 0.01)); // simple and cool
    }
}
.Container {
    animation: stuff 200ms ease-in-out;
    -webkit-animation: stuff 200ms ease-in-out;
    border-radius: 10px;
    padding: 4px 12px;
    border: 2px solid #a4a1c9;
    background: #f4f4f6;
    grid-column: 1 / 3;
    margin-bottom: 2px;

    .author {
        overflow: hidden;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #1a1561;
        margin-bottom: 2px;
    }

    .text {
        word-wrap: break-word;
        word-break: break-all;
        white-space: pre-wrap;
        width: 100%;
        max-height: 100vh;
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
        color: #46037c;
    }

    .button {
        font-size: 15px;
        margin-left: 5px;
        color: #675b71;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        background: transparent;
    }
}