@import "src/mixins.scss";

@media(min-width: 425px) {
    .Container {
        h1 {
            font-size: 24px !important;
        }
        p {
            font-size: 19px !important;
        }
    }
}

.MainContainer {
    width: 100vw;
    min-height: 100vh;

    .Container {
        @include transform(translateY(-50%));
        margin-top: 50%;
        h1 {
            color: var(--primary-color-1);
            text-align: center;
            font-size: 22px;
            margin-bottom: 1px;
        }
        p {
            color: var(--primary-color-2);
            font-size: 17px;
            text-align: center;
            a {
                color: #0f0094;
                font-weight: 700;
            }
        }
    }
}
