@keyframes spinner {
    to {
        transform: rotateZ(720deg);
    }
}
.Container {
    top: 0px;
    position: fixed;
    background: #ededed;
    z-index: 10;
    width: 100vw;
    height: 100vh;

    & > .Spinner {
        margin: 30vh auto;
    }
}

.Spinner {
    animation: spinner ease-in-out 1700ms infinite;
    border-right-color:rgb(255, 0, 0);
    border-bottom-color:rgb(0, 4, 255);
    border-left-color:rgb(0, 255, 238);
    border-top-color: rgb(140, 3, 186); 
    border-style: solid;
    border-radius: 50%;
}

.Spin {
    border-width: 7px;
    width: 90px;
    height: 90px;
}