@import "../shares-styles";

@media(min-width: 425px) {
    .Container, .Disabled {
        img {
            width: 43px !important;
        }
    }
}

.Container,
.Disabled {
    flex: 1 1;

    img {
        padding: $padding;
        width: 35px;
    }
}

.Container > .stretch:active {
    background: $activeBackground;
}