@import "src/presets.scss";
@import "src/mixins.scss";

@keyframes spread {
    from {
        @include transform(scale(1, 1));
    }
    88% {
        @include transform(scale(400, 170));
        background: #cfcfcf91;
    }

    to {
        background: transparent;
    }
}

@media(min-width: 425px) {
    .Container {
        padding: 3px 7px !important;
        button {
            font-size: 15px !important;
        }
    }
}


.Container {
    position: relative;
    justify-self: center;
    overflow: hidden;
    width: 30%;
    border: 2px solid #ad0199;
    border-radius: 1000px;
    padding: 2px 5px;
    margin-top: 10px;
    
    .Ripple{
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 1px;
        z-index: 1;
    }
    .Active {
        animation: spread 700ms both ease-out;
        background: #e3e3e391;
    }
    
    button {
        color: var(--primary-color-1);
        width: 100%;
        background: transparent;
        border: none;
        font-weight: 700;
        font-size: 13px;
        font-family: "Lacuna italic";
        z-index: 2;
    }
}