@media(min-width: 425px) {
    .Container {
        width: 98% !important;

        .desc {
            font-size: 16px !important;
        }

        .text {
            font-size: 17px !important;
        }

        .date,
        .author {
            font-size: 18px !important;
        }
    }
}

.Container {
    display: grid;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    justify-items: center;
    padding-bottom: 15px;
    padding-top: 10px;
    border-bottom: 2px solid #808080b8;

    &:last-of-type {
        border-bottom: none;
    }

    .DateContainer {
        display: flex;
        margin: 15px auto 7px;
        width: 90%;

        .date,
        .author {
            font-size: 15px;
        }

        .date {
            flex: 1 1;
            justify-self: left;
            font-family: "Gaspar";
            color: #4a4a4a;
            font-weight: 500;
        }

        .author {
            text-align: right;
            flex: 1 1;
            color: #231281;
            font-weight: 700;
        }
    }


    .desc {
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow: hidden;
        width: 87%;
        font-size: 13px;
        color: #737373;
        padding-bottom: 3px;
        margin-top: 5px;
        margin-bottom: 14px;
        border-bottom: 1px solid #bfbfbf;
        font-style: italic;
        font-weight: 400;
        font-family: fantasy;
        text-align: left;
    }

    .images {
        margin: 15px 0;
        row-gap: 3px;        
        display: grid;
        align-items: center;
        justify-items: center;

        img {
            max-width: 95vw;
            max-height: 90vh;
        }
    }

    .text {
        box-sizing: border-box;
        justify-self: left;
        padding-left: 12px;
        padding-right: 6px;
        max-width: calc(100vw - 30px);
        line-height: 1.3;
        font-size: 15px;
        white-space: pre-line;
        font-family: "Gaspar";
        word-wrap: break-word;
    }

}