@import "src/mixins";

@media(min-width: 425px) {
    .Container {
        .control {
            padding: 9px 19px;
            font-size: 16px;
        }
    }
}

@media(max-width: 425px) {
    .Container {
        .control {
            padding: 7px 17px;
            font-size: 14px;
        }
    }
}

.Wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    background: #e0e0e0e8;
    width: 100%;
    height: 100%;
    
    .Container {
        display: grid;
        overflow: hidden;
        border: 2px solid #010755;
        margin-top: 30vh;
        margin-left: 50%;
        border-radius: 10px;
        @include transform(translateX(-50%));
        
        .control {
            text-align: center;
            display: inline-block;
            background: #cfcfcf;
            font-family: Arial, Helvetica, sans-serif;
            white-space: nowrap;
            color: #040b62;
            border-bottom: 1px solid #010755;

            input {
                display: none;
            }

            &:active {
                background: #999999;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}