@import "src/mixins.scss";

$border: 2px;
$gradient: linear-gradient(45deg, #04fb8c, #5102ed);
$size: 50px;

@media(min-width: 425px) {
    .Container {
        width: 92% !important;

        .Border {
            width: 60px + 3px * 2 !important;
            height: 60px + 3px * 2 !important;

            .Wrapper {
                width: 60px !important;
                height: 60px !important;
            }
        }

        &>p {
            font-size: 18px !important;
            padding-left: 20px !important;
        }
    }

    .Spinner {
        width: 60px !important;
        height: 60px !important;
        border-width: 6px !important;
    }
}

.Container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding-top: 5px;
    padding-bottom: 7px;
    border-bottom: 1px solid #bababa;
    grid-template-columns: auto 1fr;
    justify-items: right;
    align-items: center;

    &:active {
        background: #d9d9d9;
    }

    &:last-of-type {
        border-bottom: none;
    }

    .Cover {
        z-index: 10;
        left: 0px;
        top: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    height .NoDisplay {
        visibility: hidden;
    }

    .NoDisplay,
    .Border {
        width: $size + $border * 2;
        height: $size + $border * 2;
    }



    .Border {
        // position: relative;
        display: grid;
        border-radius: 50%;
        background: $gradient;

        .Wrapper {
            justify-self: center;
            align-self: center;
            border-radius: 50%;
            background: white;
            width: $size;
            overflow: hidden;
            height: $size;

            img {
                max-width: 100%;
                max-height: 100%;
                margin: 50%;
                @include transform(translate(-50%, -50%));
            }
        }
    }

    &>p {
        padding-left: 10px;
        padding-right: 13px;
        white-space: pre-line;
        word-break: break-all;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: var(--primary-color-1);
    }

}

.Spinner {
    position: absolute;
    top: 0;
    left: 0;
    height: $size;
    width: $size;
    border-width: $border;
    z-index: 4;
}