@import "../shared";

$font: 15px;
$radius: 5px;

@media(min-width: 425px) {
    .Container {
        .Grid {
            width: 96% !important;

            .nickname p{
                font-size: 18px !important;
            }

            .button {
                width: 42px !important;
            }
        }
    }
}

.Fake {
    width: 100vw;
    background: white;
}

.Container {
    z-index: 100;
    width: 100%;
    margin-bottom: 3px;
    background: $backColor;
    position: fixed;
    top: 0;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;

    .Space {
        height: 2px;
        background: white;
    }

    .Grid {
        width: 92%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: auto auto 1fr;
        justify-items: center;
        align-items: center;

        .nickname {
            p {
                text-align: center;
                color: #0b4c74;
                justify-self: right;
                align-self: center;
                font-weight: 500;
                font-family: Arial, Helvetica, sans-serif;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .button {
            width: 35px;
            padding: 3px;

            &:hover {
                background: #d1d1d1;
            }
        }
    }
}

.Cover {
    z-index: 3;
}