@media(min-width: 768px) {
    .error {
        font-size: 19px;
        padding-bottom: 5px;
        padding-left: 20px;
    }
}
@media(min-width: 425px) and (max-width: 768px) {
    .error {
        font-size: 17px;
        padding-bottom: 4px;
        padding-left: 18px;
    }
}

@media(max-width: 425px) {
    .error {
        font-size: 15px;
        padding-left: 15px;
    }
}

.Container {
    margin-top: 5px;
    background: #fdbfbf;
    padding: 10px 0;
    width: 100%;
    overflow: auto;

    .error {
        left: 0px;
        white-space: nowrap;
        color: var(--error-color);

        &>span {
            font-weight: 500;
            position: relative;
        }
    }
}