@import "src/mixins.scss";

.Container {
    grid-column: 1 / span 2;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    justify-content: space-evenly;
    row-gap: 6px;
    column-gap: 6px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10vh;
    grid-auto-rows: 10vh;
    grid-auto-columns: 1fr;

    .image {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid #27108e;
        background: #b8b6c8;
        width: 100%;
        height: 100%;
        justify-self: center;
        align-self: center;

        img {
            position: relative;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            max-width: 100%;
            max-height: 100%;
        }

        .button {
            border-radius: 100%;
            position: absolute;
            top: 2px;
            right: 2px;
            box-sizing: content-box;
            width: 15px;
            height: 15px;
            background-clip: border-box;
            background: url("/assets/icons/miscellaneous/close.svg")center / 9px 9px no-repeat,
                #f0f0f0;
            border: 1px solid #026c74;
            z-index: 3;

            &:active {
                background: #018089;
            }
        }
    }
}