@keyframes show-popup {
    from {
        transform: scale(0.4, 0.4);
    }

    to {
        transform: scale(1, 1);
    }
}

@media(min-width: 768px) {
    .close {
        font-size: 80px;
    }
}

@media(min-width: 425px) and (max-width: 768px) {
    .close {
        font-size: 70px;
    }
}

@media(max-width: 425px) {
    .close {
        font-size: 60px;
    }
}

.Container {
    text-align: center;
    z-index: 11;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #0130bcf0;
    display: block;
    transform: none;
    animation: show-popup 700ms;
    color: white;

    &>h1 {
        margin: 10vw;
        margin-top: 30vh;
        font-size: 30px;
        width: 80vw;
    }

    &>.close {
        color: #c2c2c2;
        border-radius: 10px;
        position: absolute;
        top: 7px;
        right: 20px;
    }
}