@import "src/mixins.scss";

$size: 70px;
$border: 4px;

@media(min-width: 425px) {
    .Container {
        h1 {
            font-size: 21px !important;
        }
    }
}

.Container {
    width: 100%;
    display: grid;

    h1 {
        margin-top: 15px;
        color: var(--primary-color-1);
        justify-self: center;
        font-size: 19px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .SContainer {
        margin: 20px 0;
        justify-self: center;
        width: $size;
        height: $size;
        & > div {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border-width: $border;
        }
    }
}