@media(min-width: 425px) {
    .Link {
        font-size: 16px !important;
    }
}

.Link {
    padding-bottom: 3px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-color-2);
}