@import "src/mixins.scss";

@media(min-width: 425px) {
    .Container {
        top: 34vh !important;

        .control {
            font-size: 16px !important;
            padding: 9px 19px !important;
        }

        .editting {
            font-size: 18px !important;
        }
    }
}

.MainContainer {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background: #f7f7f7e8;
    width: 100vw;
    height: 100vh;

    .Container {
        border: 2px solid #360052;
        border-radius: 8px;
        position: fixed;
        top: 37vh;
        left: 50vw;
        @include transform(translateX(-50%));
        background: #d4d4d4;
        display: grid;
        overflow: hidden;

        .control {
            background: inherit;
            font-size: 14px;
            border-bottom: 1px solid black;
            color: #040b62;
            font-weight: 500;
            padding: 7px 16px;

            &:last-child {
                border-bottom: none;
            }

            &:active {
                background: #9e9e9e;
            }
        }

        .editting {
            font-size: 16px;
            padding: 20px 30px;
            color: #150061;
            font-weight: 500;
        }
    }
}