@media(min-width: 768px) {
    .Header {
        font-size: 27px;
        margin-top: 50px;
        margin-bottom: 18px;
    }
}

@media(min-width: 425px) and (max-width: 768px){
    .Header {
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 12px;
    }
}

@media(max-width: 425px) {
    .Header {
        margin-top: 25px;
        font-size: 22px;
    }
}

.Header {
    color: var(--primary-color-1);
    font-family: "Gaspar bold";
    width: 100%;
    text-align: center;
}