@import "~src/mixins";
$active: #170099;

@media(min-width: 768px) {
    .MainContainer {
        .label {
            font-size: 19px;
        }

        .main {
            width: 32px;
            height: 32px;

            &::after {
                width: 12px;
                height: 17px;
            }
        }
    }
}

@media(min-width: 425px) and (max-width: 768px) {
    .MainContainer {
        .label {
            font-size: 17px;
        }

        .main {
            width: 28px;
            height: 28px;

            &::after {
                width: 10px;
                height: 17px;
            }
        }
    }
}

@media(max-width: 425px) {
    .MainContainer {
        .label {
            font-size: 15px;

        }

        .main {
            width: 26px;
            height: 26px;

            &::after {
                width: 8px;
                height: 15px;
            }
        }
    }
}



.MainContainer {
    margin-top: 4px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(20, 1fr);
    
    .label {
        font-family: "Gaspar";
        color: var(--primary-color-1);
        padding-right: 6px;
        justify-self: right;
        grid-column: 1 / 19;
    }
    
    .Checkbox {
        user-select: none;
        display: inline-block;
        
        .input {
            display: none;
            
            &:checked~.main {
                border-color: black;
                background: #008550;
                
                &::after {
                    display: inline;
                }
            }
            
            &:focus~.main {
                border-color: $active;
                background: #2a54fe;
                box-shadow: 0px 0px 3px 1px $active;
            }
        }
        
        .main {
            @include transform(scale(0.8, 0.8));
            background: #99adff;
            position: relative;
            border-radius: 8px;
            display: inline-block;
            border: 2px solid black;
            
            &::after {
                content: "";
                display: none;
                position: absolute;
                top: 2px;
                left: 50%;
                @include transform(translateX(-50%) rotateZ(-135deg));
                border: solid white;
                border-radius: 4px;
                border-width: 3px 0px 0px 3px;
            }
        }
    }
}