@keyframes fadein {
    from {
        opacity: 0;
    }
}

@keyframes tooltip {
    from {
        opacity: 0;
    }
}

@media(min-width: 425px) {

    .Container,
    .HContainer {
        margin-top: 5px;
        &>img {
            height: 33px !important;
        }

        &>.count {
            font-size: 17px !important;
        }
    }
}

.Container {
    animation: fadein 1.2s ease-out;
}

.Container,
.HContainer {
    position: relative;
    justify-self: right;
    margin-right: 30px;
    column-gap: 10px;
    display: flex;
    align-items: center;


    .Tooltip,
    .Hidden {
        animation: tooltip 400ms;
        position: absolute;
        background: var(--primary-color-2);
        width: 100%;
        padding: 3px 5px;
        bottom: 125%;
        left: 0px;
        color: white;
        text-align: center;
        font-size: 12px;

        a {
            color: white;
            text-decoration: underline;
            font-weight: 700;
            font-size: 16px;
        }

        p::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: var(--primary-color-2) transparent transparent transparent;
        }
    }

    .Hidden {
        display: none;
    }

    &>img {
        flex: 1 1;
        margin-left: 12px;
        height: 28px;
    }

    &>.count {
        flex: 1 1;
        margin-left: 12px;
        font-size: 14px;
        font-weight: 600;
        color: var(--primary-color-1);
    }
}

.HContainer {
    * {
        visibility: hidden;
    }
}