@import "src/mixins";

@keyframes loaderMove {
    from {
        left: -10%;
    }

    to {
        left: 100%;
    }
}

@keyframes loaderGrow {
    50% {
        width: 50%;
        background: #a1a1a1;
    }
    90% {
        background: #808080;
    }
}

.Base {
    background: #cbc8c8;
    height: 30px;
    border-radius: 1000px;
    border: 1px solid #949494;
    width: 80%;
    position: relative;
    overflow: hidden; 

    .Loader {
        animation: loaderMove linear infinite 1.5s,
        loaderGrow linear infinite 1.5s;
        -webkit-animation: loaderMove linear infinite 1.5s,
        loaderGrow ease-in-out infinite 1.5s;
        position: absolute;
        left: 0;
        height: 100%;
        width: 15%;
        background: #949494;
        border-radius: 1000px;
    }
}