$width: 40px;
$spinner: 60px;

@media(min-width: 425px) {
    .Spinner {
        width: 70px !important;
        height: 70px !important;
    }

    .Container {
        .button {
            width: 47px !important;
            height: 47px !important;
        }
    }
}

.Container {
    position: relative;

    .button {
        z-index: 5;
        opacity: 0.9;
        width: $width;
        position: fixed;
        background: #f0f9ff;
        padding: 4px;
        border-radius: 10px;
        bottom: 25vh;
        right: 13vw;
    }
}

.Spinner {
    margin-top: 5px !important;
    border-width: 4px;
    width: $spinner;
    height: $spinner;
    margin: 0 auto;
}

.NoChats {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--primary-color-1);
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}