.Container.GreenContainer {
    background: #bbf1c6;
}
.Container {
    width: 100%;
    background: #eceeec;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px 6px;
    overflow: hidden;
    
    .text {
        word-wrap: break-word;
        word-break: break-word;
        color: #4d1c97;
        font-size: 13px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .author {
        color: #09057a;
        font-weight: 700;
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
    }
}