$size: 30px;
$transition: 200ms ease-in;

@media(min-width: 425px) {
    .Container, .ContainerOn {
        width: 33px !important;
        height: 33px !important;
        & > img {
            width: 33px !important;
            height: 33px !important;
        }
    }
}

.Container, .ContainerOn {
    transition: $transition;
    justify-self: center;
    align-self: center;
    width: $size;
    height: $size;

    &> img {
        height: $size;
        width: $size;
    }
}
.ContainerOn {
    transform: rotateZ(-90deg);
    transition: $transition;
}
