@import "src/presets.scss";
@import "src/mixins.scss";

$backSize: 30px;
$size: 29px;
$offset: 4px;
$padding: 4px;

@media(min-width: 425px) {
    .Top {
        & > img {
            width: 33px !important;    
        }
    }
}

@media(max-width: 425px) {
    .Input {
        & > input {
            font-size: 17px;    
        }
        
        .Input {
            input {
                font-size: 19px;
            }
        }
    }
}

.FullContainer {
    z-index: 15;
    height: 100vh;
    position: fixed;
    display: grid;
    grid-template-rows: auto 1fr;
    top: 0;
}

.Container,
.FullContainer {
    @include lgb($lineargradient);
    width: 100%;
}

.Top {
    display: grid;
    align-items: center;
    justify-items: left;

    &>.Hidden {
        display: none;
    }

    &>img {
        margin-top: 4px;
        margin-left: 4px;
        padding: 3px;
        width: $backSize;

        &:active {
            background: #ee54fc;
        }
    }

    .Input {
        grid-column: auto / span 2;
        padding: $padding 0;
        width: 98%;
        margin: 0 auto;
        position: relative;

        input {
            font-size: 17px;
            font-family: "Gaspar";
            color: var(--primary-color-2);
            text-align: center;
            box-sizing: border-box;
            align-self: center;
            justify-self: stretch;
            padding: 2px;
            padding-left: 10px;
            padding-right: $size * 1.5 + 5px;
            line-height: $size + $offset * 2;
            border-radius: 20px;
            border: none;
            width: 100%;
        }

        button {
            position: absolute;
            top: $offset + $padding + 3px;
            right: $size / 2;
            border: none;
            background: white;
            width: $size;
            height: $size;


            &>img {
                height: 100%;
                width: 100%;
            }
        }
    }
}