$sRadius: 20px;
$sBorder: 3px;

@media(min-width: 425px) {
    .Container {
        .value {
            font-size: 14px !important;
        }
        .title {
            font-size: 16px !important;
        }
    }
}

.Container {
    text-align: center;
    display: grid;
    &> .value{
        font-size: 13px;
        color: var(--primary-color-1);
        font-weight: 600;
        letter-spacing: 0.15ch;
    }

    &> .title {
        font-weight: 700;
        font-size: 14px;
        color: var(--primary-color-2);
    }

    &> .value, &> .title {
        padding-top: 5px;
        text-align: center;
    }
    .SpinnerContainer {
        padding-top: 5px;
        width: $sRadius;
        height: $sRadius;
        justify-self: center;
        & > div {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border-width: $sBorder;
        }
    }

}