@import "src/presets.scss";
@import "src/mixins.scss";

.Container {
    width: 100%;
    @include lgb($lineargradient);
    grid-template-columns: 7fr 23fr;
    justify-items: stretch;
    display: grid;
    & p {
       grid-column: 1 / 2;
    }
}
