.Container {
    display: grid;
    align-self: stretch;
    align-content: flex-start;
}

.Spinner {
    width: 60px;
    height: 60px;
    border-width: 4px;
    margin: 4px 0;
    justify-self: center;
}