@media(min-width: 425px) {
    .Container {
        padding: 5px 12px !important;
        p {
            font-size: 16px !important;
        }
    }
}
.Container {
    margin: 0 auto;
    background: #f0f0f0;
    border-radius: 1000px;
    margin-bottom: 3px;
    margin-top: 5px;
    padding: 5px 12px;
    &:first-child {
        margin-top: 0;
    }

    p {
        text-align: center;
        color: var(--primary-color-2);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 14px;
    }
}