@import "src/mixins.scss";

$offset: 6px;
$ownback: #a9f4b8;
$tool: 15px;
$bwidth: 2px;
$otback: #ebebeb;

@media(min-width: 425px) {
    .Own, .Others {
        .contents {
            font-size: 14px !important;
        }
        .deleted {
            font-size: 15px !important;
        }

        .date {
            font-size: 16px !important;
        }
        .image {
            width: 12px !important;
            height: 12px !important;
        }
    }
}

.Own,
.Others {
    padding: 3px 4px 0;
    max-width: 70vw;
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 5px;
    align-items: center;
    margin: 0 $offset;
    margin-bottom: 4px;
    border-radius: 8px;
    border-width: $bwidth;
    border-style: solid;
    font-size: 13px;
    
    .contents, .deleted {
        grid-column: 1 / span 2;
        max-width: 100%;
        word-wrap: break-word;
        display: inline-block;
        word-break: break-word;
        white-space: pre-line;
    }
    
    .contents {
        font-family: Arial,
        Helvetica,
        sans-serif;
    }
    
    .deleted {
        font-size: 14px;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        color: #070727;
    }
    
    .date {
        justify-self: right;
        color: var(--primary-color-2);
        font-size: 14px;
    }

    .image {
        padding-left: 4px;
        align-self: baseline;
        width: 11px;
        height: 11px;
    }
}

.Own {
    padding-right: 5px;
    justify-self: right;
    border-color: $ownback;
    background: $ownback;
}

.Others {
    padding-left: 5px;
    justify-self: left;
    border-color: $otback;
    background: $otback;

    .date {
        text-align: right;
    }
}