$borderColor: #9e9e9ed6;


.MainContainer {
    border-top: 2px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    margin-top: 10px;
    .Container {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: 0px auto;
        padding: 5px;
    }
}