@mixin transform($value) {
    -moz-transform: $value;
    -o-transform: $value;
    -webkit-transform: $value;
    transform: $value;
}

@mixin lgb($values...) {
    background: linear-gradient($values);
    background: -moz-linear-gradient($values); 
    background: -o-linear-gradient($values);
    background: -webkit-linear-gradient($values);
}