@font-face {
    font-family: "Gaspar bold italic";
    src: url("/assets/fonts/Gaspar_Bold_Italic.otf");
}
@font-face {
    font-family: "Gaspar bold";
    src: url("/assets/fonts/Gaspar_Bold.otf");
}
@font-face {
    font-family: "Gaspar italic";
    src: url("/assets/fonts/Gaspar_Regular_Italic.otf");
}
@font-face {
    font-family: "Gaspar";
    src: url("/assets/fonts/Gaspar_Regular.otf");
}
@font-face {
    font-family: "Lacuna italic";
    src: url("/assets/fonts/lacuna-italic.ttf");
}
@font-face {
    font-family: "Lacuna";
    src: url("/assets/fonts/lacuna.ttf");
}