:root {
    --spinner-background: #76a5d096;
    --main-backgrond: #d1d1f5;
    --primary-color-1: #396d8e;
    --primary-color-2: #294661;
    --error-color: #8e0101;
}
html {
    height: 100vh;
}
* {
    padding: 0px;
    margin: 0px;
    outline: 0px;
}