@import "src/mixins";

$width: 55px;
$border: 2px;
$total: $width+$border * 2;

@media(min-width: 425px) {
    .Container {
        .Border {
            width: 67px + 2*3px !important;
            height: 67px + 2*3px !important;

            .Avatar {
                margin-top: 3px !important;
                margin-left: 3px !important;
                width: 67px !important;
                height: 67px !important;
            }
        }
        
        .Hidden {
            width: 67px + 2*3px !important;
            height: 67px + 2*3px !important;
        }

        .Double {
            .text {
                font-size: 14px !important;
            }

            .deleted {
                font-size: 15px !important;
            }

            .nickname {
                font-size: 15px !important;
            }
        }

        .time {
            font-size: 16px !important;
            margin-right: 8px !important;
        }
    }

    .Spinner {
        width: 67px !important;
        height: 67px !important;
        border-width: 3px !important;
    }
}

.Spinner {
    border-width: $border;
    width: $width;
    height: $width;
    background: #e0eaeb;
    z-index: 5;
}

.Container {
    padding: 10px 9px;
    display: grid;
    column-gap: 12px;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-bottom: 2px solid #2874e6bf;
    position: relative;

    .Cover {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 4;
    }

    &:last-child {
        border-bottom: none;
    }

    .Border {
        @include lgb(45deg, #a601f9, #29e6ff);
        width: $total;
        height: $total;
        border-radius: 50%;
        position: relative;

        .Avatar {
            margin-top: $border;
            margin-left: $border;
            justify-self: left;
            overflow: hidden;
            width: $width;
            height: $width;
            border-radius: 50%;
            background: #d9d9d9;

            &>img {
                max-width: 100%;
                max-height: 100%;
                margin-left: 50%;
                margin-top: 50%;
                @include transform(translate(-50%, -50%));
            }
        }
    }

    .Hidden {
        display: none;
        width: $total;
        height: $total;
    }

    .Double {
        display: grid;
        overflow: hidden;
        row-gap: 12px;

        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .nickname {
            font-family: 'Times New Roman', Times, serif;
            color: var(--primary-color-1);
            font-weight: 900;
            font-size: 13px;
        }

        .text {
            color: #1a438e;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 600;
        }

        .deleted {
            color: #385a99;
            font-size: 14px;
            font-style: italic;
            font-family: cursive;
        }
    }

    .time {
        justify-self: right;
        font-size: 14px;
        color: var(--primary-color-2);
    }
}