$avatarSize: 60px;
$avatarBorder: 4px;

@media(min-width: 425px) {
    .SpinnerContainer {
        &>div {
            width: 65px !important;
            height: 65px !important;
            border-width: 5px !important;
        }
    }

    .Wrapper {
        height: 65px + 2 * 5px !important;
        width: 65px + 2 * 5px !important;

        .IContainer {
            width: 65px !important;
            height: 65px !important;
        }
    }
}

.SpinnerContainer {
    &>div {
        width: $avatarSize;
        height: $avatarSize;
        border-width: $avatarBorder;
    }

    &>.IContainer {
        display: none;
    }
}

.Wrapper {
    display: grid;
    height: $avatarSize + 2 * $avatarBorder;
    width: $avatarSize + 2 * $avatarBorder;
    background: linear-gradient(45deg, red, purple);
    border-radius: 50%;

    &>.IContainer {
        justify-self: center;
        align-self: center;
        width: $avatarSize;
        height: $avatarSize;
        overflow: hidden;
        border-radius: 50%;
        background: white;
        position: relative;

        &>img {
            transform: translateX(-50%) translateY(-50%);
            margin-left: 50%;
            margin-top: 50%;
            max-width: 100%;
            max-height: 100%;
        }
    }
}