$buttonPadding: 8px 8px;
$imgSize: 28px;
$imgMargin: 10px;
$imgPadding: 3px;

@keyframes show {
    from {
        color: transparent
    }
}

@media(min-width: 425px) {
    .Container {
        img {
            width: 33px !important;
            height: 33px !important;
        }
    }
}

.Container {
    width: 100%;
    position: relative;
    justify-self: right;
    display: grid;
    justify-items: right;
    padding-bottom: 5px;
    img {
        border-radius: 25%;
        margin-right: $imgMargin;
        width: $imgSize;
        height: $imgSize;
        background: #e0e0e0d9;
        padding: $imgPadding
    }
    
    //Both hidden and showed
    .Hidden, .Show {
        min-width: 20vw;
        z-index: 10;
        background: white;
        text-align: right;
        position: absolute;
        width: auto;
        top: $imgSize + $imgPadding * 2;
        right: $imgMargin;
        border: 1px solid #000a66;
        box-shadow: -1px 2px 3px #666666;

        button {
            background:white;
            box-sizing: border-box;
            text-align: center;
            width: 100%;
            color: var(--primary-color-2);
            font-weight: 700;
            font-size: 13px;
            display: block;
            background: 0px;
            border: none;
            border-top: 1px solid black;
            padding: $buttonPadding;
            
            &:first-child {
                border-top: none;
                margin-top: 0px;
            }
        }
    }
    
    .Show {
        button {
            animation: show ease-out 500ms;
        }
    }

    .Hidden {
        display: none
    }
}