@import "src/mixins.scss";
$size: 50px;
$border: 2px;

@media(min-width: 425px) {
    .Wrapper {
        width: 60px + 3px * 2 !important;
        height: 60px + 3px * 2 !important;

        .Avatar {
            margin-left: 3px !important;
            margin-top: 3px !important;
            width: 60px !important;
            height: 60px !important;
        }
    }
}

.Container {
    position: relative;
    margin: 1vw;
    margin-left: 20px;
    display: grid;
    background: white;
    justify-self: left;
    border-radius: 50%;
    z-index: 5;

    .Hidden {
        display: none;
    }

    .Wrapper {
        width: $size + $border * 2;
        height: $size + $border * 2;
        border-radius: 50%;
        @include lgb(-30deg, #7400e0 30%, #00f090, #00e0f0);

        .Avatar {
            margin-top: $border;
            margin-left: $border;
            background: #ededed;
            width: $size;
            height: $size;
            overflow: hidden;
            border-radius: 50%;

            &>img {
                margin-top: 50%;
                margin-left: 50%;
                transform: translate(-50%, -50%);
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}


.Spinner {
    width: $size;
    height: $size;
    border-width: $border
}